// Place all the styles related to the Frumweb controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: "Pacifico";
  src: url('Pacifico/Pacifico.ttf') format('truetype');
}

@font-face {
  font-family: "Quicksand";
  src: url('Quicksand/Quicksand.otf') format('truetype');
}

body {
  background-color: snow;
  font-family: 'Quicksand';
}


.content {
  margin-top: 30px;
}

#whole-header {
  height: 20rem;
}


.icon {
  width: 3rem;
  height: 3rem;
}

#whole-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 350px;
}

.middle {
  display: flex;
  flex-direction: column;
  height: 20rem;
  align-items: center;
  justify-content: center;
  p {
    font-family: 'Pacifico';
  }
}

#couple-name {
  font-family: 'Pacifico';
  font-size: 40px;
  color: #2a3439;
}

.circle:before {
  content: ' \25CF';
  font-size: 16px;
}

#navigation-bar {
  display: flex;
  justify-content: space-around;
  color: snow;
  background-color: #2a3439;
  .nav-p {
    padding-top: 8px;
    color: snow;
  }
    :hover {
      cursor: pointer;
      text-decoration: underline;
    }
}

.navbar {
  height: 3.4rem;
}

.navbar-fixed-top {
  background-color: pink;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  margin-bottom: 30px;
}

.navbar-top {
  margin-bottom: 30px;
}

#the-couple {
  width: 60%;
  height: auto;
  margin: 40px auto;
  display: block;
}

#lorem {
  width: 60%;
  font-family: 'sans-serif';
  text-align: center;
  margin: 0 auto;
}

#destination-div {
  h1 {
    font-family: 'Pacifico';
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
  }
  h3, h4 {
    font-family: 'Pacifico';
    text-align: center;
  }
}

#destination-pic {
  width: 80%;
  height: auto;
  margin: 10px auto;
  display: block;
}

#venue-pic {
  width: 60%;
  height: auto;
  margin: 10px auto;
  display: block;
}

#activities {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.activity {
  margin: 20px;
}

.activity img {
  width: 50rem;
}

#wedding-party {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.wedding-party{
  margin: 10px 10px;
}

#blaire-img {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.card {
  margin-bottom: 20px;
}

.card-body {
  overflow: hidden;
}

.avatar {
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
}

.large-card {
  margin-top: 60px;
  margin-bottom: 60px;
  margin: 20px auto;
  width: 60%;
}

#carousel {
  width: 50%;
  height: auto;
  display: block;
  margin: 100px auto;
  img {
    max-height: 500px;
    max-width: 500px;
    margin: 0 auto;
  }
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: snow;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: snow;
}

#my-footer {
  text-align: center;
  background-color: #2a3439;
  color: snow;
  margin-top: 10px;
}

.schedule-div {
  display: flex;
  flex-direction: column;
  img {
    width: 50%;
    height: auto;
  }
}

.pac {
  font-family: 'Quicksand';
  text-align: center;
}

.title {
  font-family: 'Pacifico';
  text-align: center;
}

.event {
  margin: 10px 0 10px 0;
}

.d-block {
  width: 90rem;
  height: 70rem;
  border: 20px solid black;
}

.registry{
  margin: 5rem auto 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.registry-link {
  text-align: center;
  margin-top: 1rem;
}

.registry-img {
  max-height: 14rem;
  max-width: 50%;
  margin: 0 auto;
}